.DS_Store

node_modules/

.cache/
.asset-cache/
.sass-cache/

_site/

site/_data/guides.*
site/_assets/images/guides/
site/_guides/

site/_data/descriptors.*
site/_assets/images/descriptors/
site/_descriptors/

site/_data/widgets.*
site/_assets/images/widgets/
site/_widgets/

site/_data/contexts.*
site/_assets/images/contexts/
site/_contexts/
